.container
  .at-section
    .at-section__title
      = link_to (image_tag "kinniku_logo.png", class: 'logo2'), root_path
  .at-grid{"data-column" => "3"}
    .at-column
      .at-menu
        .at-menu__avatar
          = image_tag 'muscle-3.png'
        .at-menu__name あーむかーる
        .at-menu__title 力こぶの源
    .at-column
      .at-menu
        .at-menu__avatar
          = image_tag 'muscle-3.png'
        .at-menu__name はんまーかーる
        .at-menu__title 見た目の太さ
    .at-column
      .at-menu
        .at-menu__avatar
          = image_tag 'muscle-3.png'
        .at-menu__name すかるくらっしゃー
        .at-menu__title 腕のぼりゅーむ
    .at-column
      .at-menu
        .at-menu__avatar
          = image_tag 'muscle-3.png'
        .at-menu__name ぷれすだうん
        .at-menu__title 腕のきれ
  .dojoSelect
    = link_to '道場選択に戻る', menus_path, class: 'dojoBtn'