.container
  .at-section
    .at-section__title
      = link_to (image_tag "kinniku_logo.png", class: 'logo2'), root_path
  .at-grid{"data-column" => "3"}
    .at-column
      .at-menu
        .at-menu__avatar
          = image_tag 'muscle-2.png'
        .at-menu__name べんちぷれす
        .at-menu__title まずはこれ！
    .at-column
      .at-menu
        .at-menu__avatar
          = image_tag 'muscle-2.png'
        .at-menu__name だんべるふらい
        .at-menu__title 胸の丸み
    .at-column
      .at-menu
        .at-menu__avatar
          = image_tag 'muscle-2.png'
        .at-menu__name いんくらいん
        .at-menu__title 胸のぼりゅーむ
    .at-column
      .at-menu
        .at-menu__avatar
          = image_tag 'muscle-2.png'
        .at-menu__name でくらいん
        .at-menu__title 胸のきれ
  .dojoSelect
    = link_to '道場選択に戻る', menus_path, class: 'dojoBtn'