.container
  .at-section
    .at-section__title
      = link_to (image_tag "kinniku_logo.png", class: 'logo2'), root_path
  .at-grid{"data-column" => "3"}
    .at-column
      .at-menu
        .at-menu__avatar
          = image_tag 'muscle-1.png'
        .at-menu__name ふとんとれいず
        .at-menu__title 肩の厚み
    .at-column
      .at-menu
        .at-menu__avatar
          = image_tag 'muscle-1.png'
        .at-menu__name さいどれいず
        .at-menu__title 肩幅増強
    .at-column
      .at-menu
        .at-menu__avatar
          = image_tag 'muscle-1.png'
        .at-menu__name りあれいず
        .at-menu__title 肩の丸み
    .at-column
      .at-menu
        .at-menu__avatar
          = image_tag 'muscle-1.png'
        .at-menu__name あっぷらいとろう
        .at-menu__title 肩幅増強
  .dojoSelect
    = link_to '道場選択に戻る', menus_path, class: 'dojoBtn'