.container
  .at-section
    .at-section__title
      = link_to (image_tag "kinniku_logo.png", class: 'logo2'), root_path
  .at-grid{"data-column" => "3"}
    - @menus.each do |menu|
      .at-column
        .at-menu
          = link_to exercise_path(menu), class: 'menuLink' do
            .at-menu__avatar
              = image_tag menu.image
            .at-menu__name
              = menu.text
            .at-menu__title
              = menu.name