.container
  .at-section
    .at-section__title
      = image_tag "kinniku_logo.png", class: 'logo2'
  .at-grid{"data-column" => "3"}
    .at-column
      .at-user
        .at-user__avatar
          = image_tag 'muscle-1.png'
        .at-user__name 肩幅道場
        .at-user__title 肩とれ
    .at-column
      .at-user
        .at-user__avatar
          = image_tag 'muscle-2.png'
        .at-user__name 胸板道場
        .at-user__title 胸とれ
    .at-column
      .at-user
        .at-user__avatar
          = image_tag 'muscle-3.png'
        .at-user__name 腕力道場
        .at-user__title 腕とれ
    .at-column
      .at-user
        .at-user__avatar
          = image_tag 'muscle-4.png'
        .at-user__name 逆三角道場
        .at-user__title 背中とれ
    .at-column
      .at-user
        .at-user__avatar
          %span.cs Coming Soon
        .at-user__name 馬力道場
        .at-user__title 脚とれ