.container
  .at-section
    .at-section__title
      = link_to (image_tag "kinniku_logo.png", class: 'logo2'), root_path
  .at-grid{"data-column" => "3"}
    - @delt.each do |delt|
      .at-column
        .at-menu
          .at-menu__avatar
            = image_tag delt.icon
          .at-menu__name
            = delt.name
          .at-menu__title
            = delt.text
  .dojoSelect
    = link_to '道場選択に戻る', menus_path, class: 'dojoBtn'